{% extends "learning_logs/base.html" %}
{% load static %}
{% block page_header %}
  <h1>话题</h1>
{% endblock page_header %}   
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'learning_logs/style.css' %}">
</head>
  <ul>
    {% for topic in topics %}
      <li><h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h3></li>
    {% empty %}
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'learning_logs:new_topic' %}">添加一个新话题</a></h3>
{% endblock content %}
